{
  inputs = {
    hm.url = "github:nix-community/home-manager";
  };
  outputs = { self, nixpkgs, hm }: {
    homeConfigurations.{{ user }} = hm.lib.homeManagerConfiguration {
      pkgs = nixpkgs.legacyPackages.x86_64-linux;
      modules = [
        ./home.nix
      ];
    };
  };
}
